// Import libraries css

// Global styles for the app
@import 'style/global/fonts';
@import 'style/global/variables';
@import 'style/global/mixins';

// Local styles for pages and components
@import url('./style/pages/_about.scss');

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 14px;
    padding: 20px;
}